@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Thêm hiệu ứng chuyển đổi màu */
html {
  transition: background-color 0.5s, color 0.5s;
}

body {
   font-family: 'Montserrat', sans-serif;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

.custom-cursor {
  position: fixed;
  width: 32px;
  height: 32px;
  background-image: url('/mouse.png'); /* Đường dẫn đến hình con trỏ */
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
}





@media (min-width: 1024px) {

  .lg\:mt-10 {
    margin-top: 2.5rem;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:max-w-xl {
    max-width: 36rem;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 1280px) {

  .xl\:max-w-xl {
    max-width: 36rem;
  }

  .xl\:max-w-screen-xl {
    max-width: 1280px;
  }

  .xl\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
